include includs/layout.pug

        .container
        .row
        .col
        img.aboimg(src="assets/images/newsImg.png")
        a.aboutclass(href="#", title="",target="_self") omar
        .col
        include includs/carousal.pug
