.custom-file-input{
  vertical-align: middle;
}

// .custom-file-label{
//   background: #fff;
// }

.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: 2.25rem;
  padding: .375rem .75rem;
  line-height: 1.5;
  color: #ffffff;
  content: "ارفق ملف";
  background-color: #3bbd60;
  border-left: 1px solid #ffffff;
  border-radius: 0;
}
.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "ارفق ملف";
}
